/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

 /*=================================
 =            header stuff            =
 =================================*/
 
#logo { border-right: 1px solid #ccc; margin-right: 18px; }
#name-and-slogan { padding-top: 5px; }
#site-name, #site-slogan { display: block; line-height: 1; padding-top: 5px; }

/*==========  search box when in header block  ==========*/

.region-header div#block-islandora-solr-simple { margin-top: 26px; }

 /*-----  End of header stuff  ------*/


 /*===================================
 =            UPEI Footer            =
 ===================================*/
 
 .bottom-links { display: none; }
.socialmedia { margin: 10px 0; }
div#footer-wrapper { background: #333; }
.upei-footer a { color: green; }
.upei-footer h2 { font-size: 20px; color: #fff; }
.upei-footer .bottom-links a { color: #ccc; }
.links-last li a { color: #ccc; }
.upei-footer .links-last, .upei-footer .links-last a { color: #ccc; }
.upei-footer { font-size: 13px; }
.bottom-links li { line-height: 142%; }
.upei-footer .address { color: #fff; }
.upei-footer ul li.leaf { list-style-image: none; list-style-type: none; margin: 0px; }
.upei-footer ul { margin: 0px; }

@media (min-width:600px) {
  div#links-section { overflow: hidden; *zoom: 1; }
  /* .menu-01 { width: 28.57143%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  .menu-02 { width: 28.57143%; float: left; margin-right: -100%; margin-left: 35.71429%; clear: none; }
  .menu-03 { width: 28.57143%; float: right; margin-left: 0; margin-right: 0; clear: none; }
  .menu-04 { width: 28.57143%; clear: right; float: left; margin-left: 0; margin-right: 7.14286%; clear: both; }
  .menu-05 { width: 28.57143%; clear: right; float: left; margin-right: 7.14286%; }
  */
  .inner-footeraddress { margin-top: 10px; }
  .footeraddress { width: 100%; clear: right; float: right; margin-right: 0; }
  .socialmedia { padding: 12px 0; }
}

@media (min-width:800px) {
  .socialmedia { margin: 0; }
  .bottom-links { display: inherit; }
  .socialmedia { padding: 12px 0; }
  div#links-section { overflow: hidden; *zoom: 1; }
  .menu-01 { width: 18.18182%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  .menu-02 { width: 18.18182%; float: left; margin-right: -100%; margin-left: 20.45455%; clear: none; }
  .menu-03 { width: 18.18182%; float: left; margin-right: -100%; margin-left: 40.90909%; clear: none; }
  .menu-04 { width: 18.18182%; float: left; margin-right: -100%; margin-left: 61.36364%; clear: none; }
  .menu-05 { width: 18.18182%; float: right; margin-left: 0; margin-right: 0; clear: none; }
  .inner-footeraddress { margin-top: 10px; overflow: hidden; *zoom: 1; }
  .footeraddress { width: 100%; float: right; margin-left: 0; margin-right: 0; clear: none; border-top: 4px solid rgb(139, 31, 3); padding-top: 10px; margin-top: 5px; }
  .addressleft { width: 59.09091%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  .footerlogo { width: 18.18182%; float: right; margin-left: 0; margin-right: 0; clear: none; }
  .socialmedia { width: 18.18182%; float: left; margin-right: -100%; margin-left: 61.36364%; clear: none; text-align: right; padding-top: 27px; }
}

 
 /*-----  End of UPEI Footer  ------*/
 
 
 
 
